{project_plugins, [
    {erlfmt, "~> 1.0"}
]}.

{erlfmt, [
    verbose,
    check
]}.

{edoc_opts, [
    {overview, "src/overview.edoc"},
    {source_path, ["src"]},
    todo
]}.

{profiles, [
    {test, [
        {deps, [jsone]},
        {escript_name, tomerl_test},
        {escript_incl_apps, [jsone]},
        {yrl_opts, [{verbose, true}]}
    ]}
]}.
