{project_plugins, [erlfmt]}.

{erlfmt, [
          verbose,
          {files, [
                   "src/*.{h,e}rl",
                   "test/*.erl"
                   "rebar.config"
                  ]
          }
         ]}.

{edoc_opts, [
  {overview, "src/overview.edoc"},
  {source_path, ["src"]},
  todo
]}.

{profiles, [
  {test, [
    {deps, [jsone]},
    {escript_name, tomerl_test},
    {escript_incl_apps, [jsone]},
    {yrl_opts, [{verbose, true}]}
  ]}
]}.
